.lightroom-settings {
    display: flex;
    overflow: auto;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 16rem;

    .ui.header {
      font-weight: 700;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }
  